body {
    padding-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  #todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: red;
  }

  #todo-container div {
    text-align: center;
    padding-bottom: 20px;
  }
  
  input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    width: 20%;
  }
  
  #todo-list {
    padding-left: 0;
    list-style-type: none;
  }

  #todo-list li {
    height: 40px;
    margin-bottom: 5px;
    background-color: powderblue;
    border-radius: 7px;
    padding: 6px 10px 0;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }